@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This app searches for albums, videos and apps in the itunes store. It also keeps track of the click counts for individual items.</p>

